*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF, #FFF4F4, #FDC463;
}

.pictured{
    padding-top: ;
}